<style>
    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: block;
    }

    button {
        background-color: #660000;
        color: white;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 3px;
    }

    textarea {
        width: 1000px;
        height: 250px;
    }
</style>

<br />
<h1 style="text-align:center;"> Undergraduate Application Form</h1>
<br />
@model Internship_Application.Models.TemplateViewModel

<div style="box-shadow: 0px 0px 10px grey; border-radius: 3px; margin: 25pt; padding: 50pt;">
    <form asp-action="Edit">
        @foreach (var item in Model.StudentQuestions)
        {
            @Html.DisplayFor(modelItem => item.Order)<br />
            @Html.DisplayFor(modelItem => item.Prompt)<br />

            @Html.DisplayFor(modelItem => item.HelperText)<br /><br />
            if (item.Options.Length != 0)
            {
                <div class="dropdown">
                    <button class="dropbtn">Choose one</button>
                    <div class="dropdown-content">
                        @foreach (var option in item.Options)
                        {
                            <a href="@option">@option</a>
                        }

                    </div>
                </div>
                @Html.DisplayFor(modelItem => item.Options)
            }
            else
            {
                <input type="@item.InputType" name="@item.Order"><br />
            }
        }

        First name:<br>
        <input type="text" name="firstname"><br><br>

        Last name:<br>
        <input type="text" name="lastname"><br><br>

        Student Signature: <br />
        <input type="text" name="studentSig"><br><br>

        Date of Signature: <br />
        <input type="date" name="studentSigDate"><br><br>

        Current Date:<br />
        <input type="text" name="currDate"><br><br>

        Class Enrolled In: <br />
        <input type="text" name="classEnrolled"><br><br>

        Explaination of How Internship will Enhance Winthrop Experience: <br />
        <textarea name="enhanceExperience"></textarea> <br /> <br />

        Desired Professional and Personal Goals Hoped to Achieve During Internship: <br />
        <textarea name="goals"></textarea><br><br>

        Student Email:<br />
        <input type="email" name="studEmail"><br><br>

        Student Phone Number: <br />
        <input type="tel" name="studPhoneNum"><br><br>

        Student ID #:  <br />
        <input type="text" name="WUID"><br><br>
    </form>
    <form asp-controller="Receipt_Submission_Page" asp-action="Index" method="post">
        <button type="submit">Submit</button>
    </form>
</div>



