@model IEnumerable<Internship_Application.Models.EmployerDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionsInternRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionsInternProjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionsInternOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionsComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessLiscense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteVisitAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipNumWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipHoursPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipIsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntershipPaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntershipAdditionalCompensation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsInternRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsInternProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsInternOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessLiscense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteVisitAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternshipStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternshipEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternshipNumWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternshipHoursPerWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternshipIsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntershipPaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntershipAdditionalCompensation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
