@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<!-- The purpose of this page is to show certain things on every page, the logout button will only be shown if the user is logged in-->
<html>
<style>
/* Dropdown Button */
/*.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}*/

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 175px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCI 475 Team One | Winthrop University</title>
    <link rel="icon" href="https://www.winthrop.edu/favicon.ico" type="image/x-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.winthrop.edu/css/main2018.css" />
    <link rel="stylesheet" type="text/css" href="https://www.winthrop.edu/css/wu2018.css" />
    <link rel="stylesheet" type="text/css" href="https://www.winthrop.edu/css/searchArea2018.css" />
    <link rel="stylesheet" type="text/css" href="https://www.winthrop.edu/css/menus/wu_smart_dropdown2018.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

</head>
<body>
    <header>
        <div id="gradientTop">
            <!-- Search People or Site -->
            <div class="searchBoxSurround">

                <div class="topLinks">
                    <a href="https://asap.winthrop.edu/pobox " target="_blank" class="topWhiteLinks">EMAIL</a>
                    <a href="https://wingspan.winthrop.edu" target="_blank" class="topWhiteLinks">WINGSPAN</a>
                    <a href="https://bb-winthrop.blackboard.com" target="_blank" class="topWhiteLinks">BLACKBOARD</a>
                    <a href="http://www.winthrop.edu/map" class="topWhiteLinks">MAP</a>

                </div>
             
            </div>
            <div class="clear"></div>
        </div>

        <div id="mastheadHomePage"></div><!--This shows the winthrop logo in red at the top of our all of our pages-->

            <!-- Common Nav Bar -->
            <div id="allNavBar">
                <div class="row">
                    
                        <div class="col-4">
                            <div id="dropdown" class="dropdown" style="line-height: 10px;">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <button type="button" class="btn btn-primary" onclick="toggleDropdown()" style="background-color: #F0B323; padding: 0; margin: 0 auto; border: none; color: black; height: 30%">
                                        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                                    </button>
                                    <div id="navDropdown" class="dropdown-menu" style="z-index: 1;">

                                        @using (Html.BeginForm())
                                        {
                                            if (User.IsInRole("Admin"))
                                            {
                                                <a href="@Url.Action("Index", "LandingPage")">Home</a>
                                                <br />
                                                <br />
                                                <a href="@Url.Action("Index", "Admin_TemplatesOverviewPage")">View/Edit Form Template</a>
                                                <br />
                                                <br />

                                                <a href="@Url.Action("Index", "Admin_Query_Page")">Form Lookup</a>
                                                <br />


                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Index", "Landing_Page")">Home</a>
                                            }
                                        }
                                    </div>
                                }
                                </div>

                            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                            <script type="text/javascript">
                            /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
                            function toggleDropdown() {
                                document.getElementById("navDropdown").classList.toggle("show");
                            }

                            $(".dropdown").change(function () {
                                var seclectedVal = $(this).val();
                                if (seclectedVal != undefined) {
                                    switch (seclectedVal) {
                                        case '1':
                                            var redirectURL = '@Url.Action("Index", "Landing_Page")';
                                            window.location.href = redirectURL;
                                            break;
                                        case '2':
                                            var redirectURL = '@Url.Action("Index", "Admin_TemplateOverviewPage")';
                                            window.location.href = redirectURL;
                                            break;
                                        case '3':
                                            var redirectURL = '@Url.Action("Index", "Admin_Query_Page")';
                                            window.location.href = redirectURL;
                                            break;
                                    }
                                }
                            });

                            </script>


                        </div>
                    
                        <div class="col-4">
                            <big class="gradientAudience"><b>Winthrop University CBA Internship</b></big>
                        </div>

                        @if (SignInManager.IsSignedIn(User)) //<!--only show the logout button if the user is signed in-->
                        {
                            <div class="col-4">
                                <a type="text" style=" border:none;background-color:#f0b323; color:black" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </div>
                        }
                    </div>
            </div>
        </header>

        <div class="body-content">
            
        @RenderBody()

        </div>

        <footer class="footer"><!--show at bottom of the page-->
            <div id="gradientBottom" style="position:fixed;bottom:0;left:0;right:0;height:30px;">
                <span class="whiteBottomText">
                    © Winthrop University · 701 Oakland Avenue · Rock Hill, SC 29733, USA ·
                    803/323-2211
                </span>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/961f527338.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</body>

</html>