<style>

    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: block;
    }

    #commonNavBar {
        display: none;
    }

    tr {
        border: white 2px solid;
    }

    th, td {
        padding: 10px;
    }

    table {
        margin: 0px auto;
    }

    #queryResultsTable td {
        color: white;
        background-color: #660000;
    }

    #queryResultsTable {
        width: 100%;
        padding: 25px;
    }

        #queryResultsTable th {
            padding-bottom: 25px;
        }

    #tableTitle {
        display: inline-block;
    }

    #titleAndSortContent {
        padding: 20px;
        width: 100%;
        display: inline-block;
    }

    #radioFilter {
        display: inline-block;
        text-align: right;
        float: right;
    }

    #tablesDiv {
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }

    #remFormsContainer {
        padding-bottom: 25px;
    }

    button {
        color: white;
        background-color: #F0B323;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 3px;
    }

    .column {
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }

    .vl {
        border-left: thick solid #660000;
        height: 90%;
    }

    #exportButton {
        margin-left: 50pt;
    }

</style>

@model List<Internship_Application.Models.FormViewModel>
<div id="adminQueryPageUI">
    <div>
        @*@foreach (var item in Model)
        {
                <div>
                    @Html.DisplayFor(modelItem => item.WuId)
                </div>
        }*@
                <div class="row" style="padding: 10pt;">
                    <!--split page into two columns-->
                    <br />
                    <div class="col-4">
                        <!--left side of page-->
                        <div id="titleAndSortContent">
                            <div id="tableTitle">
                                <br />
                                <h2>FILTER BY: </h2>
                            </div>
                            <div>
                            </div>
                        </div>

                        <div id="tablesDiv" style="padding: 10pt;">
                            <div id="needsAdminContainer">
                                <p> </p>

                                <h5>Company:</h5>
                                @if (ViewBag.QueryByCompanyName != 0)
                                {
                                    @using (Html.BeginForm("Index", "Admin_Query_Page", FormMethod.Post, new { @name = "QueryByCompanyNameForm" }))
                                    {
                                        @Html.DropDownList("CompanyId", new SelectList(ViewBag.Companies, "Id", "CompanyName", ViewBag.QueryByCompanyName), "Please select", new { @id = "companies" })
                                        @Html.Hidden("CompanyName", null, new { @id = "companyName" })
                                    }
                                }
                                else
                                {
                                    <p>this one</p>
                                    @using (Html.BeginForm("Index", "Admin_Query_Page", FormMethod.Post, new { @name = "QueryByCompanyNameForm" }))
                                    {
                                        @Html.DropDownList("CompanyId", new SelectList(ViewBag.Companies, "Id", "CompanyName"), "Please select", new { @id = "companies" })
                                        @Html.Hidden("CompanyName", null, new { @id = "companyName" })
                                    }
                                }
                                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

                                    <script type="text/javascript">
                                        $("body").on("change", "#companies", function () {
                                            $("#companyName").val($(this).find("option:selected").text());
                                            document.forms["QueryByCompanyNameForm"].submit();
                                        });
                                    </script>
                                <p> </p>
                                <h5>Location:</h5>
                                <select>
                                    <option value="-1"> -- select an option -- </option>
                                    @foreach (var company in ViewBag.Companies)
                                    {
                                        <option value="@company.Id">@company.CompanyLocation</option>
                                    }
                                </select>
                                <p> </p>
                                <h5>Year:</h5>
                                <select>
                                    <option value="'-1'"> -- select an option -- </option>
                                    <option value="-1"> ALL </option>
                                    <option value="0">2015</option>
                                    <option value="1">2016</option>
                                    <option value="2">2017</option>
                                    <option value="3">2018</option>
                                    <option value="4">2019</option>
                                </select>
                                <p></p>
                                <h5>Unpaid vs Paid:</h5>
                                <input type="checkbox" name="paid" value="paid">Paid<br>
                                <input type="checkbox" name="unpaid" value="unpaid">Unpaid<br>
                                <p> </p>
                                <h5>Application Status:</h5>
                                <input type="checkbox" name="all" value="all">ALL<br>
                                <input type="checkbox" name="inprog" value="inprog">In Progress<br>
                                <input type="checkbox" name="comp" value="comp">Completed<br>
                                <input type="checkbox" name="withdrawn" value="withdrawn">Withdrawn<br>
                                <p></p>
                            </div>
                            <div class="aligncenter" style="width:100%;height:0;border-top:2px double #660000;font-size:0;padding-top:10px;margin:0 auto">-</div>
                        </div>
                    </div>
                    <div class="col-8">
                        <!--right side of page-->
                        <br />
                        <div class="vl" />
                        <div id="titleAndSortContent">
                            <div id="tableTitle">
                                <h2>RESULTS OF QUERY: </h2>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div id="tablesDiv">
                            <div id="queryResultsTable">
                                <table style="width:100%">
                                    <h3 style="text-align:center;">Your search returned @ViewBag.Forms.Count results: </h3>
                                    <tr>
                                        <th>STUDENT NAME</th>
                                        <th>LAST UPDATED</th>
                                        <th>STATUS</th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in ViewBag.Forms)
                                    {
                                        <tr>
                                            <td>@item.StudentName</td>
                                            <td>@item.UpdatedAt</td>
                                            <td>@item.StatusCodesViewModel.StatusCode</td>
                                            <td><button type="button">View</button></td>
                                        </tr>
                                        
                                    }
                                    @*<tr>
                                        <td>Jane Doe</td>
                                        <td>2/5/2019 10:16AM</td>
                                        <td>NAA</td>
                                        <td><button type="button">View</button></td>
                                    </tr>*@
                                    </table>
                                </div>
                            <div class="aligncenter" style="width:90%;height:0;border-top:2px double #660000;font-size:0;padding-top:10px;margin:0 auto">-</div>
                        </div>
                        <br />
                        <div>
                            <button type="button" id="exportButton">Export to Excel document</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
