@model Internship_Application.Models.QuestionsAndAnswers

@{
    ViewData["Title"] = "Details";
}

<script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<link href="Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<style>
    #tablesDiv {
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }
</style>

@Html.HiddenFor(m => m.FormDetails.Id)
@Html.HiddenFor(m => m.FormDetails.StatusCodesViewModel.Id)
<div id="tablesDiv">
    <h2 style="text-align:center;">Form Information: </h2>
    <br />

    <div style="display: block">
        <div style="text-align:center;">
            <b>STUDENT NAME:</b> @Model.FormDetails.StudentName
        </div>
        <div style="text-align:center;">
            <b>STATUS CODE:</b> @Model.FormDetails.StatusCodesViewModel.StatusCode
        </div>
        @if (User.IsInRole("Admin"))
        {
            @if (Model.FormDetails.StatusCodesViewModel.Id != 3 && Model.FormDetails.Id != 6)
            {
                <div style="text-align:center;"><mark>This form does not currently require your attention.</mark></div>
            }
            else if (Model.FormDetails.StatusCodesViewModel.Id == 3)
            {
                <div style="text-align:center;"><mark>This form requires your approval. Have a look and, if you think it's ready, click here to move it forward: </mark><button type="submit">Send Form to Student Services</button></div>
            }
            else if (Model.FormDetails.StatusCodesViewModel.Id == 6)
            {
                <div style="text-align:center;"><mark>This form requires your signature. Sign it and approve it when you're done or decline it</mark></div>
                <div style="display: inline-block">
                    <button id="approveButton" onclick="approveApplication">Approved</button>
                    <button id="declinedButton" onclick="declineApplication">Declined</button>
                </div>
            }
            @if (Model.FormDetails.StatusCodesViewModel.Id != 9)
            {
                <p>
                    <!--Need to only display valid options (status codes below the current status code)-->
                    <div style="text-align:center;">
                        <label>Don't like what you see? Choose who to send it back to:</label>
                    </div>
                    <div style="text-align:center;">
                        <select id="sendBackList">
                            <option value="1">1 - Student</option>
                            <option value="2">2 - Employer</option>
                            <option value="3">3 - DER (Approval)</option>
                            <option value="4">4 - Student Services</option>
                            <option value="5">5 - Faculty of Record</option>
                            <option value="6">6 - DER (Signature Required)</option>
                        </select>

                        <button id="sendBackButton" onclick="" value="-1">Send Back</button>
                    </div>
                </p>
            }
            <div style="text-align:center;">At any time you may force withdraw this form by clicking here: <button>Force Withdraw</button></div>
            <br />
        }
    </div>
</div>


<div id="tablesDiv">
    <div>
        <h1 style="text-align:center;">@Model.TemplateDetails.DisplayName</h1>
        <h4 style="text-align:center;">@Model.TemplateDetails.Disclaimer</h4>
        <div>
            @Html.DisplayFor(modelItem => Model)
            @{
                int visibleCount = 0;
                string role = "Student";
                <h2><b style="color: red;">* = Required</b></h2>
                @foreach (var q in Model.QuestionList)
                {
                    if (q.InputType == "formInfo")
                    {
                        <div style="margin: 20pt;"><b>@q.Prompt</b></div>
                    }
                    else if (q.InputType == "signature")
                    {
                        visibleCount++;
                        <div style="margin: 10pt;">
                            <div>
                                @visibleCount. @q.Prompt: <input type="@q.InputType" />
                                @if (q.Required && (q.Role == role))
                                {
                                    <b style="color: red;">*</b>
                                }
                            </div>
                            <div>
                                <small>@q.HelperText</small>
                            </div>
                        </div>
                    }
                    else if (q.InputType == "text-area")
                    {
                        visibleCount++;
                        <div style="margin: 10pt;">
                            <div>
                                @visibleCount. @q.Prompt: <textarea></textarea>
                                @if (q.Required && (q.Role == role))
                                {
                                    <b style="color: red;">*</b>
                                }
                            </div>
                            <div>
                                <small>@q.HelperText</small>
                            </div>
                        </div>
                    }
                    else
                    {
                        visibleCount++;
                        <div>
                            @if (q.Options != "")
                            {
                                <div>
                                    @visibleCount. @q.Prompt:
                                    <input type="radio" name="yes" value="yes" /><label>Yes</label>
                                    <input type="radio" name="no" value="no" /><label>No</label>
                                </div>
                            }
                            else
                            {
                                <div>
                                    @visibleCount. @q.Prompt: <input type="@q.InputType" />
                                </div>
                            }
                            @if (q.Required && (q.Role == role))
                            {
                                <b style="color: red;">*</b>
                            }
                        </div>

                    }
                    @foreach (var a in Model.AnswerList)
                    {
                        if (q.Order == a.Order)
                        {
                            <div>@a.Value</div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>

<form asp-controller="Student_Application_Page" asp-action="SaveForm" method="post">
    <button type="submit">Submit</button>
</form>

@using (Html.BeginForm())
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
