@model Internship_Application.Models.QuestionsAndAnswers

@{
    ViewData["Title"] = "Details";
}

<script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<link href="Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<style>
    #tablesDiv {
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }
</style>

@{
    string role = "";
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
    else if (User.IsInRole("Student"))
    {
        role = "Student";
    }
    else if (User.IsInRole("FacultyOfRec"))
    {
        role = "FacultyOfRec";
    }
    else if (User.IsInRole("Employer"))
    {
        role = "Employer";
    }
    else if (User.IsInRole("StudentServices"))
    {
        role = "Student Services";
    }

    Boolean correctRoleSubmit = false;
    //if all required questions met and status code is for them
    if (role == "Admin")
    {
        if (Model.FormDetails.StatusCodesViewModel.Id == 3 || Model.FormDetails.StatusCodesViewModel.Id == 5 || Model.FormDetails.StatusCodesViewModel.Id == 7)
        {
            correctRoleSubmit = true;
        }
    }
    else if (role == "Student")
    {
        if (Model.FormDetails.StatusCodesViewModel.Id == 1)
        {
            correctRoleSubmit = true;
        }
    }
    else if (role == "FacultyOfRec")
    {
        if (Model.FormDetails.StatusCodesViewModel.Id == 6)
        {
            correctRoleSubmit = true;
        }
    }
    else if (role == "StudentServices")
    {
        if (Model.FormDetails.StatusCodesViewModel.Id == 4)
        {
            correctRoleSubmit = true;
        }
    }
    else if (role == "Employer")
    {
        if (Model.FormDetails.StatusCodesViewModel.Id == 2)
        {
            correctRoleSubmit = true;
        }
    }
}

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.FormDetails.Id)
    @Html.HiddenFor(m => m.FormDetails.StatusCodesViewModel.Id)

    <div id="tablesDiv">
        <h2 style="text-align:center;">Form Information: </h2>
        <br />

        <div style="display: block">
            <div style="text-align:center;">
                <b>STUDENT NAME:</b> @Model.FormDetails.StudentName
            </div>
            <div style="text-align:center;">
                <b>STATUS CODE:</b> @Model.FormDetails.StatusCodesViewModel.StatusCode
            </div>
            @if (!correctRoleSubmit)
            {
                <div style="text-align:center;"><mark>This form does not currently require your attention.</mark></div>
            }
            else
            {
                <div style="text-align:center;"><mark>This form requires your attention.</mark></div>
            }
            @if (role == "Admin" && Model.FormDetails.StatusCodesViewModel.Id != 8 && Model.FormDetails.StatusCodesViewModel.Id != 9 && Model.FormDetails.StatusCodesViewModel.Id != 10)
            {
                <p>
                    <!--Need to only display valid options (status codes below the current status code)-->
                    <div style="text-align:center;">
                        <label>Don't like what you see? Choose who to send it back to:</label>
                    </div>
                    <div style="text-align:center;">
                        <select id="sendBackList">
                            <option value="1">1 - Student</option>
                            <option value="2">2 - Employer</option>
                            <option value="3">3 - DER (Approval)</option>
                            <option value="4">4 - Student Services</option>
                            <option value="5">5 - Faculty of Record</option>
                            <option value="6">6 - DER (Signature Required)</option>
                        </select>
                        <input name="submit" type="submit" id="sendBack" value="Send Back" />
                    </div>
                </p>
            }
            @if (role == "Student" || role == "Admin")
            {
                @if (Model.FormDetails.StatusCodesViewModel.Id != 9 && Model.FormDetails.StatusCodesViewModel.Id != 10)
                {
                    <div style="text-align:center;">At any time you may force withdraw this form by clicking here: <input name="submit" type="submit" id="withdraw" value="Withdraw" /></div>
                }
            }
            <br />
        </div>
    </div>

    <!--QUESTIONS AND ANSWERS DISPLAY HERE-->
    Dictionary<int, string> AnswerList = new Dictionary<int, string>();
    foreach (var a in Model.AnswerList)
    {
        AnswerList.Add(Convert.ToInt32(a.Order), a.Value);
    }

    <div id="tablesDiv">
        <div>
            <h1 style="text-align:center;">@Model.TemplateDetails.DisplayName</h1>
            <h4 style="text-align:center;">@Model.TemplateDetails.Disclaimer</h4>
            <div>
                @Html.DisplayFor(modelItem => Model)
                @{
                    int invisibleCount = 0;
                    int reqCount = 0;
                    <h2><b style="color: red;">* = Required</b></h2>
                    @foreach (var item in Model.InputList)
                    {
                    <div>
                        <div style="display: block;">
                            @if (item.InputType == "formInfo")
                            {
                                invisibleCount++;
                            }
                            else
                            {
                                int displayOrder = item.Order - invisibleCount;
                                <label style="display: inline-block;">@displayOrder. </label>
                            }
                            <partial style="display: inline-block;" name="_FormInputPartial" model="item" />
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
    </div>

    Boolean allRequiredAnswersFilled = true;


    <div style="margin: 50px">
        <div class="row" style="width: 100%">
            @if (correctRoleSubmit && allRequiredAnswersFilled)
            {
                if (Model.FormDetails.StatusCodesViewModel.Id == 7)
                {
                    <div class="col-4">
                        <input name="submit" type="submit" id="accept" value="Accept" />
                    </div>
                    <div class="col-4">
                        <input name="submit" type="submit" id="decline" value="Decline" />
                    </div>
                    <div class="col-4">
                        <input style="float: left;" name="submit" type="submit" id="backToList" value="Back To List" />
                    </div>
                }
                else
                {
                        <div style="margin-left: 15px; margin-right: 15px;">
                            <input name="submit" type="submit" id="save" value="Save" />
                        </div>
                        <div style="margin-left: 15px; margin-right: 15px;">
                            <input name="submit" type="submit" id="submit" value="Submit" />
                        </div>
                        <div style="margin-left: 15px; margin-right: 15px;">
                            <input name="submit" type="submit" id="backToList" value="Back To List" />
                        </div>
                }
            }
            else
            {
                <div class="col-12">
                    <input style="margin-left: 50%" name="submit" type="submit" id="backToList" value="Back To List" />
                </div>
            }

        </div>
    </div>
}

