<style>

    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: block;
    }

    #commonNavBar {
        display: none;
    }

    label {
        display: block;
        padding-top: 20px;
    }

    input {
        display: block;
        padding: 5px;
    }

    #editButton {
        display: block;
    }

    #editButton, #addQButton, #removeQButton, #modifyQButton, #saveButton, #cancelButton, #makeActiveOrRetiredButton {
        display: inline-block !important;
        margin: 10px;
        padding: 10px;
        width: 125px;
        border-radius: 1em;
        border: none;
    }

    #makeActiveOrRetiredButton {
        background-color: #F0B323;
        color: black;
    }

    .activeStyle {
        background-color: #660000;
        color: white;
    }

    .disabledStyle {
        background-color: grey;
        color: black;
        opacity: .5;
    }
</style>
@model Internship_Application.Models.TemplateViewModel

<div id="formTemplateEditorUI" style="height: 100vh">
    <div class="row">
        <div id="editColumn" style="display: block" class="col-2">
            <a  asp-action="Create">Add New</a>

            @*@if (Model.Template.Count() != 0)
            {*@

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Templates[0].TemplateName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Templates[0].CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Templates[0].UpdatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Templates[0].IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Templates[0].IsModifiable)
                        </th>
                        <th></th>
                      </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Templates)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TemplateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsModifiable)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*}*@
        </div>
    </div>
</div>

<script>

    function toggleEditMode() {
        var editButton = document.getElementById("editButton");
        //var choiceButtons = document.getElementById("editChoiceButtonsDiv");
        //var questionOptions = document.getElementById("questionTemplateDiv");
        //var saveCancelButtons = document.getElementById("saveCancelButtonDiv");
        var editColumn = document.getElementById("editColumn");
        var formColumn = document.getElementById("formColumn");
        var allFormOptions = document.getElementById("allFormOptionsDiv");
        if (!editButton.disabled || editButton.disabled == undefined) {
            editButton.className = "activeStyle";
            editButton.disabled = true;

            // make buttons visible
            allFormOptions.style.display = "block";
            //    choiceButtons.style.display = "inline-block";
            //   questionOptions.style.display = "block";
            //  saveCancelButtons.style.display = "inline-block";
            editColumn.className = "col-6";
            formColumn.className = "col-6";
        }
        else {
            editButton.className = "disabledStyle";
            editButton.disabled = false;

            // make buttons not visible
            allFormOptions.style.display = "none";
            //choiceButtons.style.display = "none";
            //questionOptions.style.display = "none";
            //saveCancelButtons.style.display = "none";
            editColumn.className = "col-2";
            formColumn.className = "col-10";
        }

        if (editButton.disabled) {
            // display help text to save or cancel to exit edit mode
        }
    }

    function addQClicked() {
        var delButton = document.getElementById("removeQButton");
        var addButton = document.getElementById("addQButton");
        var modButton = document.getElementById("modifyQButton");
        var addDiv = document.getElementById("questionTemplateDiv");
        var delDiv = document.getElementById("delQuestionDiv");
        var modDiv = document.getElementById("modifyQuestionDiv");
        if (!(addButton.className == "activeStyle")) {
            addButton.className = "activeStyle";
            delButton.className = "disabledStyle";
            modButton.className = "disabledStyle";
            addDiv.style.display = "block";
            delDiv.style.display = "none";
            modDiv.style.display = "none";
        }
    }

    function deleteQClicked() {
        var delButton = document.getElementById("removeQButton");
        var addButton = document.getElementById("addQButton");
        var modButton = document.getElementById("modifyQButton");
        var addDiv = document.getElementById("questionTemplateDiv");
        var delDiv = document.getElementById("delQuestionDiv");
        var modDiv = document.getElementById("modifyQuestionDiv");
        if (!(delButton.className == "activeStyle")) {
            delButton.className = "activeStyle";
            addButton.className = "disabledStyle";
            modButton.className = "disabledStyle";
            addDiv.style.display = "none";
            delDiv.style.display = "block";
            modDiv.style.display = "none";
        }
    }

    function modifyQClicked() {
        var delButton = document.getElementById("removeQButton");
        var addButton = document.getElementById("addQButton");
        var modButton = document.getElementById("modifyQButton");
        var addDiv = document.getElementById("questionTemplateDiv");
        var delDiv = document.getElementById("delQuestionDiv");
        var modDiv = document.getElementById("modifyQuestionDiv");
        if (!(modButton.className == "activeStyle")) {
            modButton.className = "activeStyle";
            addButton.className = "disabledStyle";
            delButton.className = "disabledStyle";
            addDiv.style.display = "none";
            delDiv.style.display = "none";
            modDiv.style.display = "block";
        }
    }

    function saveFormChanges() {
        // on save repopulate form column with updated form
        toggleEditMode();
    }

    function cancelFormChanges() {
        toggleEditMode();
    }
</script>
