@model Internship_Application.Models.OfficeDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OfficeDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived" class="control-label"></label>
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CorrespondenceSentEmployer" /> @Html.DisplayNameFor(model => model.CorrespondenceSentEmployer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CorrespondenceSentStudent" /> @Html.DisplayNameFor(model => model.CorrespondenceSentStudent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EstMidPoint" class="control-label"></label>
                <input asp-for="EstMidPoint" class="form-control" />
                <span asp-validation-for="EstMidPoint" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MeetsClassReq" /> @Html.DisplayNameFor(model => model.MeetsClassReq)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Classes" class="control-label"></label>
                <input asp-for="Classes" class="form-control" />
                <span asp-validation-for="Classes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MeetsGpaReq" /> @Html.DisplayNameFor(model => model.MeetsGpaReq)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gpa" class="control-label"></label>
                <input asp-for="Gpa" class="form-control" />
                <span asp-validation-for="Gpa" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MeetsPosReq" /> @Html.DisplayNameFor(model => model.MeetsPosReq)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pos" class="control-label"></label>
                <input asp-for="Pos" class="form-control" />
                <span asp-validation-for="Pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

