@model Internship_Application.Models.OfficeDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OfficeDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrespondenceSentEmployer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrespondenceSentEmployer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrespondenceSentStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrespondenceSentStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstMidPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstMidPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetsClassReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetsClassReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetsGpaReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetsGpaReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetsPosReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetsPosReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
