@model IEnumerable<Internship_Application.Models.OfficeDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondenceSentEmployer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrespondenceSentStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstMidPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetsClassReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetsGpaReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetsPosReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrespondenceSentEmployer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrespondenceSentStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstMidPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetsClassReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetsGpaReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetsPosReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
