@model Internship_Application.Models.Templates

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Templates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disclaimer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disclaimer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemplateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentServicesQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentServicesQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsModifiable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsModifiable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
