@model Internship_Application.Models.Forms

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Forms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentServicesQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentServicesQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemplateId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
