@model IEnumerable<Internship_Application.Models.Form>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignaturesId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignaturesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
