@model Internship_Application.Models.QuestionsAndAnswers

@{
    ViewData["Title"] = "Details";
}

    <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <link href="Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<style>

    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: block;
    }

    #commonNavBar {
        display: none;
    }
</style>

<div style="display: block">
    <div>
        <b>STUDENT NAME:</b> @Model.FormDetails.StudentName
    </div>
    <div>
        <b>STATUS CODE:</b> @Model.FormDetails.StatusCodesViewModel.StatusCode
    </div>
    @if (Model.FormDetails.StatusCodesViewModel.Id != 3 && Model.FormDetails.Id != 6)
    {
        <div>This form does not currently require your attention.</div>
    }
    else if (Model.FormDetails.StatusCodesViewModel.Id == 3)
    {
        <div>This form requires your approval. Have a look and, if you think it's ready, click here to move it forward: <button>Send Form to Student Services</button></div>
        <p>
            <label>Don't like what you see? Choose who to send it back to:</label>
            <select id="sendBackList">
                <option value="employer">Employer</option>
                <option value="student">Student</option>
            </select>
            <button>Send Back</button>
        </p>
    }
    else if (Model.FormDetails.StatusCodesViewModel.Id == 6)
    {
        <div>This form requires your signature. Sign it and hit submit when you're done</div>
        <div>Don't like what you see? Send back to... (Student) or (Literally anyone...)</div>
        <p>
            <label>Don't like what you see? Choose who to send it back to:</label>
            <select id="sendBackList">
                <option value="employer">Employer</option>
                <option value="student">Student</option>
                <option value="studentServices">Student Services</option>
                <option value="faculty">facultyOfRecord</option>
            </select>
            <button>Send Back</button>
        </p>
    }
    <div>At any time you may force withdraw this form by clicking here: <button>Force Withdraw</button></div>
</div>

<div>
    <h1>@Model.TemplateDetails.DisplayName</h1>
    <h4>@Model.TemplateDetails.Disclaimer</h4>
    <div>
        @Html.DisplayFor(modelItem => Model)
        @foreach (var q in Model.QuestionList)
        {
            @foreach (var a in Model.AnswerList)
            {
                if (q.Order == a.Order)
                {
                    <div>@q.Order. @q.Prompt : @a.Value</div>
                }
            }
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
