@model List<Internship_Application.Models.Forms>


<style>

    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: block;
    }

    #commonNavBar {
        display: none;
    }

    tr {
        border: white 2px solid;
    }

    th, td {
        padding: 10px;
    }

    table {
        margin: 0px auto;
    }

    #needsAdminContainer td {
        color: white;
        background-color: #660000;
    }

    #needsAdminContainer {
        padding-bottom: 50px;
    }

        #needsAdminContainer th {
            padding-bottom: 25px;
        }

    #radioFilter {
        display: inline;
        margin-right: 5px;
    }

    #tableTitle {
        display: inline-block;
    }

    #titleAndSortContent {
        padding: 20px;
        width: 100%;
        display: inline-block;
    }

    #radioFilter {
        display: inline-block;
        text-align: right;
        float: right;
    }

    #tablesDiv {
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }

    #remFormsContainer {
        padding-bottom: 25px;
    }

    button {
        color: white;
        background-color: #F0B323;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 3px;
    }
    }
</style>

<div id="adminLandingPageUI">
    <div id="titleAndSortContent">
        <div id="tableTitle">
            <h2>ALL ACTIVE FORMS</h2>
        </div>
        <div id="radioFilter">
            <h2>Order By</h2>
            <form name="filterAdminUIForm">
                <input type="radio" id="orderByLU" name="orderBy" value="orderByLU">
                <label for="orderByLU">Last Updated</label>
                <input type="radio" id="orderByStatus" name="orderBy" value="orderByStatus">
                <label for="orderByLU">Status</label>
            </form>
        </div>
        <div>
            <h2>
                <i class="fa fa-bell" aria-hidden="true"></i>
                2
            </h2>
        </div>
    </div>

    <div id="tablesDiv">
        <div id="needsAdminContainer">
            <table style="width:90%">

                <th>
                    @Html.DisplayNameFor(model => model[0].WuId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].UpdatedAt)
                </th>
                <th>
                    STATUS CODE
                </th>
                <th></th>
                </thead>
                @foreach (var item in Model)
                {
                    @if (item.StatusCodeId == 1)
                    {
                        <tr>
                            <td>@item.WuId</td>
                            <td>@item.UpdatedAt</td>
                            <td>Pending DER Approval</td>
                            <td><button type="button"><a asp-action="DisplayForm" asp-route-id="@item.Id">View</a></button></td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="aligncenter" style="width:90%;height:0;border-top:2px double #660000;font-size:0;padding-top:10px;margin:0 auto">-</div>
        <div id="remFormsContainer" style="margin-bottom: 25pt;">
            <table style="width:90%">
                <thead style='visibility: hidden; line-height:0%'>
                <th>@Html.DisplayNameFor(model => model[0].WuId)</th>
                <th>@Html.DisplayNameFor(model => model[0].UpdatedAt)</th>
                <th>@Html.DisplayNameFor(model => model[0].StatusCodeId)</th>
                <th></th>
                </thead>
                @foreach (var item in Model)
                {
                    @if (item.StatusCodeId != 1)
                    {
                        <tr>
                            <td>@item.WuId</td>
                            <td>@item.UpdatedAt</td>
                            <td>@item.StatusCodeId</td>
                            <td><button type="button"><a asp-action="DisplayForm" asp-route-id="@item.Id">View</a></button></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

</div>
